{% extends "core/base.html" %}
{% block title %}Дәрігерді өңдеу{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-center">Дәрігерді өңдеу: {{ doctor.user.username }}</h2>

    <form method="post" enctype="multipart/form-data" class="mt-4">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="btn btn-primary w-100">Сақтау</button>
    </form>

    <div class="text-center mt-3">
        <a href="{% url 'clinic_dashboard' %}" class="btn btn-secondary">🔙 Артқа</a>
    </div>
</div>
{% endblock %}
