{% extends "core/base.html" %}
{% block title %}Информированное согласие{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-center">Информированное согласие пациента</h2>
    <p class="text-muted text-center">Приложение №1 к договору оказания дистанционных медицинских услуг</p>

    <div class="border p-4 mt-3">
        <h5>1. Общая информация</h5>
        <p>В соответствии с п. 3 статьи 134 Кодекса Республики Казахстан «О здоровье народа и системе здравоохранения», я,
           <strong>{{ user.get_full_name }}</strong> (ИИН: {{ user.iin }}), подтверждаю свое согласие на оказание дистанционных медицинских услуг.</p>
        <p>Я ознакомлен(а) с Правилами организации, предоставления и оплаты дистанционных медицинских услуг, утвержденными приказом Министра здравоохранения Республики Казахстан от 1 февраля 2021 года № ҚР ДСМ-12.</p>

        <h5>2. Условия предоставления услуг</h5>
        <ul>
            <li>Консультация проводится в формате видеосвязи или чата.</li>
            <li>Врач может рекомендовать очный прием в случае необходимости.</li>
            <li>Я осознаю возможные риски и ограничения дистанционного консультирования.</li>
        </ul>

        <h5>3. Я даю свое согласие на:</h5>
        <ul>
            <li>Оказание консультативной помощи.</li>
            <li>Оценку состояния здоровья и корректировку назначенного лечения.</li>
            <li>Организацию дистанционных консилиумов.</li>
            <li>Передачу медицинских данных в целях диагностики и лечения.</li>
        </ul>

        <h5>4. Ответственность пациента</h5>
        <p>Я подтверждаю, что предоставил(а) всю необходимую информацию о состоянии своего здоровья и несу ответственность за несоблюдение рекомендаций врача.</p>

        <h5>5. Подтверждение согласия</h5>
        <p>Я осознаю, что данное согласие добровольное, информированное и подтверждает мое желание получить дистанционные медицинские услуги.</p>


    </div>
</div>
{% endblock %}
